<div id="ms-preload" class="ms-preload">
  <div id="status">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
</div>
<div class="sb-site-container">
  <nav class="navbar ms-lead-navbar navbar-mode" id="navbar-lead">
    <div class="container container-full">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <img class="ms-logo ms-logo-white ms-logo-sm" src="assets/img/logo.png" alt="">
          <!--<span class="ms-logo ms-logo-white ms-logo-sm">M</span>-->
          <span class="ms-title">
                            南宁市不动产登记综合
                            <strong>服务平台</strong>
                        </span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a data-scroll href="#home">首页</a>
          </li>
          <li>
            <a data-scroll href="./YeWuLeiXingLieBiao.html">办理业务</a>
          </li>
          <li>
            <a data-scroll href="http://test.nngeo.com/home/query">进度查询</a>
          </li>
          <li>
            <a data-scroll href="http://www.nnland.gov.cn:9000/index.php?m=content&c=index&a=lists&catid=11">办事指南</a>
          </li>
          <li>
            <a data-scroll href="./person.html">个人中心</a>
          </li>

        </ul>
      </div>
      <!-- navbar-collapse collapse -->
      <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu">
        <i class="zmdi zmdi-menu"></i>
      </a>
    </div>
    <!-- container -->
  </nav>
  <div class="material-background"></div>
  <div class="container container-full mt-6">
    <div class="ms-paper">
      <div class="row">
        <div class="col-md-3 ms-paper-menu-left-container">
          <div class="ms-paper-menu-left">
            <h3 class="ms-paper-menu-title">
              <i class="zmdi zmdi-apps"></i> <a class="back-liebiao" href="../YeWuLeiXingLieBiao.html">业务菜单</a>
              <a role="button" data-toggle="collapse" href="#collapseMenu" aria-expanded="false"
                 aria-controls="collapseMenu" class="withripple">
                <i class="zmdi zmdi-menu"></i>
              </a>
            </h3>
            <div class="panel-menu collapse" id="collapseMenu">
              <!--<ul class="panel-group ms-collapse-nav" id="components-nav" role="tablist" aria-multiselectable="true">-->
              <!--<li class="panel" role="tab" id="e1">-->

              <!--<a role="button" data-toggle="collapse" data-parent="#components-nav" aria-expanded="true" aria-controls="c1" class="collapsed withripple">-->
              <!--<i class="fa fa-bold"></i> 批量业务-->
              <!--</a>-->
              <!--<ul id="c1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="e1">-->
              <!--<li>-->
              <!--<a class="withripple " routerLink="/deat">-->
              <!--<i class="fa fa-header"></i> 预告类-->
              <!--</a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="withripple" href="./typelist.html">-->
              <!--<i class="fa fa-header"></i> 抵押类-->
              <!--</a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="withripple" href="./typelist.html">-->
              <!--<i class="fa fa-arrows-h"></i> 转移类-->
              <!--</a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="withripple" href="./typelist.html">-->
              <!--<i class="fa fa-quote-right"></i> 初始类-->
              <!--</a>-->
              <!--</li>-->
              <!--</ul>-->
              <!--</li>-->
              <!--<li class="panel" role="tab" id="e2">-->
              <!--<a role="button" data-toggle="collapse" data-parent="#components-nav" aria-expanded="true" aria-controls="c2" class="collapsed withripple">-->
              <!--<i class="fa fa-hand-o-up"></i> 单件业务-->
              <!--</a>-->
              <!--<ul id="c2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="e2">-->
              <!--<li>-->
              <!--<a class="withripple" href="./typelist.html">-->
              <!--<i class="fa fa-arrow-circle-right"></i> 预告类-->
              <!--</a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="withripple" href="./typelist.html">-->
              <!--<i class="fa fa-arrow-circle-right"></i> 抵押类-->
              <!--</a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="withripple" href="./typelist.html">-->
              <!--<i class="fa fa-arrow-circle-right"></i> 转移类-->
              <!--</a>-->
              <!--</li>-->
              <!--</ul>-->
              <!--</li>-->
              <!--</ul>-->
              <ul class="panel-group ms-collapse-nav" id="components-nav" role="tablist" aria-multiselectable="true">
                <li class="panel" role="tab" id="e1" *ngFor="let tu of tu">

                  <a role="button" data-toggle="collapse" data-parent="#components-nav" aria-expanded="true"
                     aria-controls="c1" class="collapsed withripple">
                    <i class="fa fa-bold"></i>{{tu.name}}
                  </a>
                  <ul id="c1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="e1">
                    <li *ngFor="let yu of tu.data">
                      <a class="withripple " routerLink="/deat">
                        <i class="fa fa-header"></i> {{yu.usname}}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <!-- col-md-3 -->
        <div class="col-md-9 ms-paper-content-container">
          <div class="ms-paper-content">
            <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">请在左侧选择您要办理的业务</h2>
            <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4">
              具体办理流程请参阅
              <a class="color-primary"
                 href="http://test.nngeo.com/Content/%E5%8D%97%E5%AE%81%E5%B8%82%E4%B8%8D%E5%8A%A8%E4%BA%A7%E7%BB%BC%E5%90%88%E6%9C%8D%E5%8A%A1%E5%B9%B3%E5%8F%B0%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C.pdf"
                 target="_blank" title="点击下载使用手册">使用手册</a> ，如需帮助请致电0771-5609391（周一到周五早上8-12点、下午2点30-5点30分，节假日除外）
            </p>

          </div>
          <!-- ms-paper-content -->
        </div>
        <!-- col-md-9 -->
      </div>
      <!-- row -->
    </div>
    <!-- ms-paper -->
  </div>


  <!-- sb-site-container -->
  <div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
    <div class="sb-slidebar-container">
      <header class="ms-slidebar-header">
        <div class="ms-slidebar-login">
          <a href="javascript:void(0)" class="withripple">
            <i class="zmdi zmdi-account"></i> 登录
          </a>
          <a href="javascript:void(0)" class="withripple">
            <i class="zmdi zmdi-account-add"></i> 注册
          </a>
        </div>
        <div class="ms-slidebar-title">
          <form class="search-form">
            <!--<input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />-->
            <label for="search-box-slidebar">
              <i class="zmdi zmdi-search"></i>
            </label>
          </form>
          <div class="ms-slidebar-t">
            <img class="ms-logo ms-logo-sm"/>
            <h3>
              南宁市不动产登记综合服务平台

            </h3>
          </div>
        </div>
      </header>
      <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
        <li class="panel" role="tab" id="sch1">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc1"
             aria-expanded="false" aria-controls="sc1">
            <i class="zmdi zmdi-home"></i> 首页
          </a>

        </li>
        <li class="panel" role="tab" id="sch2">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc2"
             aria-expanded="false" aria-controls="sc2">
            <i class="zmdi zmdi-desktop-mac"></i> 业务查询
          </a>

        </li>
        <li class="panel" role="tab" id="sch4">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc4"
             aria-expanded="false" aria-controls="sc4">
            <i class="zmdi zmdi-edit"></i> 个人中心
          </a>

        </li>

      </ul>

    </div>
  </div>
  <footer class="ms-footer">
    <div class="container">
      <p>Copyright &copy; Material Style 2017</p>
    </div>
  </footer>
  <div class="btn-back-top">
    <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
      <i class="zmdi zmdi-long-arrow-up"></i>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
